.swiper-container {
    width: 100%;
    height: 100vh;
   // margin-bottom: 100px;
}
.swiper-slide{
    background:lightgray;
}
.swiper-button-prev, .swiper-button-next{
    color: white;
    /* font-size: 120px !important; */
    width: 80px;
}